@Model string

<form action="/Home/CreateInfo" method="post">
    Információ:
    <br />
    <input type="text" name="Information" />
    <br />

    <input type="hidden" name="clientId" value="@Model" />
    <input type="submit" name="Create" />
    <br />

</form>

