@model string

<h1>Új Kliens</h1>
<br />
<a href="/Home/GetTrainer?trainerId=@Model">Vissza az edzőnkhöz</a>
<br />
<form action="/Home/CreateClient" method="post">
    Név:
    <br />
    <input type="text" name="FullName" />
    <br />

    Kor:
    <br />
    <input type="number" name="Age" />
    <br />

    Nem:
    <br />
    <select name="type">
        <option value="Nő">Nő</option>
        <option value="Férfi">Férfi</option>
    </select>

    <br />
    Mennyit edzett:
    <br />
    <input type="number" name="BeenWorkingOutFor" />
    <br />

    Versenyekre jár:
    <br />
    <input type="checkbox" name="Verified" />
    <br />

    <input type="hidden" name="trainerId" value="@Model" />
    <input type="submit" name="Create" />
    <br />

</form>
