
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateTrainer</title>
</head>
<body>

    <h1>Új Edző létrehozása</h1>
    <a href="/Home/Index">Vissza a főoldalra</a>
    <form action="/Home/CreateTrainer" method="post">
        TrainerName:
        <br />
        <input type="text" name="TrainerName" />
        <br />
        <input type="submit" name="Create" />

    </form>
</body>
</html>
