<h1>Új Edző létrehozása</h1>

<nav class="nav justify-content-center">
    <a class="btn btn-outline-primary" href="/Home/Index">Vissza a főoldalra</a>
    <a class="btn btn-outline-success" href="/Home/ListTrainer">Vissza az edzőkhöz</a>
</nav>

<form action="/Home/CreateTrainer" method="post">
    <br />
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="TrainerName" required>
        <label for="floatingInput">Edző neve</label>
    </div>
    <input type="submit" name="Create" class="btn btn-success" />
</form>
