@model string

<br />
<form action="/Home/CreateDetail" method="post">
    Edzés típusa
    <br />
    <select name="WorkoutType" required>
        <option value="calisthenics">calisthenics</option>
        <option value="crossfit">crossfit</option>
        <option value="powerlifting">powerlifting</option>
        <option value="weightlifting">weightlifting</option>
    </select>


    <br />

    Diétája:
    <select name="ContestDiets" required>
        <option value="carbCycling">carbCycling</option>
        <option value="intermittentFasting">intermittentFasting</option>
        <option value="lowCarb">lowCarb</option>
    </select>

    <input type="hidden" name="clientId" value="@Model" />
    <input type="submit" name="Create" />
    <br />

</form>
