@model Models.Trainer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTrainer</title>
</head>
<body>
    <a href="/Home/Index">Vissza a főoldalra</a>
    <br />
    <a href="/Home/ListTrainer">Vissza az edzőkhöz</a>
    <br />
    <h1>@Model.TrainerName</h1>

    <a href="/Home/CreateClient?trainerId=@Model.TrainerID">Adjon hozzá az edzőhöz egy új Klienst</a>
    <br />
    @foreach (var item in Model.GymClients)
    {
        <h2>@item.ToString()</h2>
        <br />

        <br />
        <a href="/Home/CreateInfo?clientId=@item.GymID">Adjon hozza egy ExtraInfo-t</a>
        @foreach (var extra in item.ExtraInfos)
        {
            <br />
            <h3>@extra.Information</h3>
            <a href="/Home/DeleteInfo?infoId=@extra.InfoId"> Torolje az ExtraInfo-t</a>
            <a href="/Home/UpdateInfo?infoId=@extra.InfoId"> Updatelje az ExtraInfo-t</a>

        }


        <br />
        <a href="/Home/UpdateClient?clientId=@item.GymID">UpdateClient</a>
        <a href="/Home/DeleteClient?clientId=@item.GymID">TőrlésClient</a>
    }

</body>
</html>
