@model Models.Trainer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTrainer</title>
</head>
<body>
    <a href="/Home/Index">Vissza a főoldalra</a>
    <br />
    <a href="/Home/ListTrainer">Vissza az edzőkhöz</a>
    <br />
    <h1>@Model.TrainerName</h1>

    <a href="/Home/CreateClient?trainerId=@Model.TrainerID">Adjon hozzá az edzőhöz egy új Klienst</a>
    <br />
    @foreach (var item in Model.GymClients)
    {
        <h2>@item.ToString()</h2>
        <a href="/Home/UpdateClient?clientId=@item.GymID">Update</a>
        <a href="/Home/DeleteClient?clientId=@item.GymID">Tőrlés</a>
    }

</body>
</html>
