@model IQueryable<Models.Trainer>
@{ Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Összes Edző</h1>
    <a href="/Home/Init">Adja hozzá az adatokat</a>
    <br />
    <a href="/Home/CreateTrainer">Hozzon létre új Edzőt</a>
    <br />
    @foreach (var item in Model)
    {
        <a href="/Home/GetTrainer?trainerId=@item.TrainerID">@item.TrainerName</a>

    }
</body>

</html>