@model IQueryable<Models.Trainer>

<h1>
    Óbudai egyetem edzőterme
    <small class="text-muted">(Még tervezés alatt)</small>
</h1>
<nav class="nav justify-content-center">
    <a class="btn btn-outline-primary" href="/Home/Index">Vissza a főoldalra</a>
    <a class="btn btn-outline-success" href="/Home/CreateTrainer">Hozzon létre egy új Edzőt</a>
    <a class="btn btn-outline-danger" href="/Home/Statistics">Statisztikák</a>
</nav>
<br />
<br />
<br />
<br />

@foreach (var item in Model)
{
    <ul class="list-group list-group-horizontal">
        <li class="flex-fill">
            <a href="/Home/GetTrainer?trainerId=@item.TrainerID" class="btn btn-info">
                Tovább a @item.TrainerName klienseihez
            </a>
        </li>
        <li class="li-listTrainer">
            <a href="/Home/UpdateTrainer?trainerId=@item.TrainerID" class="btn btn-warning">
                Edző adatainak módosítása
            </a>
        </li>
        <li>
             <a href="/Home/DeleteTrainer?trainerId=@item.TrainerID" class="btn btn-danger">
                 Edző törlése
             </a>
        </li>
    </ul>
    <br />
}



