body {
    background-color: #adb5bd;
}

h1, h2, h3, h4, h5, h6 {
    color: #0d6efd;
    text-align: center
}

.functionbutton {
    text-decoration: none;
    color: black;
    background-color: #BCEDF6;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.index-page-cuccli {
    text-align: center;
    margin-bottom: 100px;
}
.index-page-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.li-listTrainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.list-group list-group-horizontal{
    list-style-type:none;
}

.deletebutton {
}

.updatebutton{

}
